
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('./../../../public/HelveticaNeueLight.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('./../../../public/HelveticaNeueRoman.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('./../../../public/HelveticaNeueMedium.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('./../../../public/HelveticaNeueBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }