:root {
    --font-mono:'Helvetica Neue Regular', "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --primary: #064ea4;
    --second: #fcdf69;
    --third: #f99d76;
    --lightbg: #d7e7fb;
    --darkblue: #0e2152;
    --darkgrey: #1a1a1a;
    --lightgrey1: #aaaaaa;
    --darkbrown: #451b09;
    --mediumbrown: #25210e;
    --text-primary:#064ea4;
    --fontbold:Helvetica Neue Bold;
    --fontnormal:Helvetica Neue Regular;
    --white:#ffffff;
  
  }