.header {
  height: 84px;
  z-index: 998;
}

.toggle_btn {
  height: 24px;
  width: 24px;
  right: 20px;
  top: 30px;
  z-index: 999;
}
.mobile_nav {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 84px);
  overflow: hidden;
  z-index: 998;
  top: 84px;
}

.activeNav {
  color: var(--primary);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-box {
  animation: slideInFromRight 0.3s ease-in forwards;
}

.slide-out-box {
  animation: slideOutToRight 0.3s ease-in-out forwards;
}
